:root {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

html{
	scroll-behavior: smooth;
	}

/* Heading */

.heading {
    font-size: 1.7rem;
    margin: 1rem 4rem;
    color: #999999;
}


/* Button */

.btn button {
    position: absolute;
    right: 3%;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 800;
    text-align: center;
    width: 12rem;
    height: 4rem;
    background-color: yellow;
}

.btn button a {
    color: black;
    text-decoration: none;
    padding: 1rem 2rem;
}

.btn button:hover {
    background-color: rgb(211, 224, 31);
    cursor: pointer;
}

.btn button:active {
    background-color: yellow;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


/* header */

header {
    height: 12vh;
    background-color: yellow;
}

.header {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#menu {
    padding-top: 1.5%;
    padding-right: 15%;
    display: flex;
    align-self: center;
    justify-self: flex-end;
}

#menu li {
    list-style: none;
    font-size: 2vw;
}

#menu li a {
    padding: 1rem;
    text-decoration: none;
}

@media (max-width: 767.98px) {
    header {
        display: none;
    }
}


/* slick nav  */

@media (min-width: 767.99px) {
    .slicknav_menu {
        display: none;
    }
}


/* first section */

.first-section {
    background-color: #cccccc;
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-content: center;
    border-radius: 10px;
    margin: 1rem;
}

.first-sec-box {
    height: 20vh;
}

.first-sec-box h2 {
    /* width: 70vw; */
    text-align: center;
    grid-column: span4;
    color: #999999;
}

.first-sec-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-gap: 1rem; */
    max-width: 80vw;
    margin: auto;
    justify-items: center;
}

.first-sec-box-inner {
    width: 13vw;
    height: 11vh;
    border-radius: 10px;
    background-color: #dedede;
    margin: 1rem;
}


/* second section carousel */

.section-padding {
    padding: 0 70px;
    margin: 1%;
}

.carousel-item {
    background-color: #cccccc;
    height: 30vh;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    align-items: flex-end;
}

button.owl-prev {
    position: absolute;
    top: 37%;
    left: -90px;
    width: 70px;
    height: 70px;
}

button.owl-next {
    position: absolute;
    top: 37%;
    right: -90px;
    width: 70px;
    height: 70px;
}

@media screen and ( max-width: 1199.98px) {
    .container {
        max-width: 100%;
        padding: 0 60px;
    }
}


/* third section  */

.third-section {
    height: 55vh;
    background-color: #f2f2f2;
    display: grid;
    grid-template-rows: 2fr 1fr;
    padding-left: 10%;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 10px;
}

.third-sec {
    display: grid;
    justify-content: start;
}

.third-sec button {
    border: none;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 800;
    width: 15rem;
    height: 4rem;
    background-color: yellow;
    align-self: end;
}

.third-sec button a {
    color: black;
    text-decoration: none;
}

.third-sec button:hover {
    background-color: rgb(211, 224, 31);
    cursor: pointer;
}

.third-sec button:active {
    background-color: yellow;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


/* section - 4 */

.section-4 {
    display: grid;
    grid-template: repeat(3, 1fr)/ repeat(4, 1fr);
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 1rem;
    height: 80vh;
    margin: 1rem;
    padding: 1rem;
}

.sec-4-box {
    background-color: #F2F2F2;
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    display: grid;
}

.sec-4-box h3 {
    /* font-size: 1.1rem; */
    color: #999999;
    align-self: end;
}

.sec-4-box1 {
    grid-column: span 3;
    grid-row: span 3;
}

.sec-4-h3-first {
    font-size: 3rem;
    padding-left: 8%;
    padding-bottom: 5%;
}


/* section 5 */

.section-5 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(149px, 1fr));
    grid-gap: 2rem;
    margin: 1% 5%;
}

.sec-5-box {
    height: 50vh;
    background: #cccccc;
    border-radius: 10px;
    display: grid;
    /* align-self: end; */
}

.sec-5-box h2 {
    align-self: end;
    justify-self: center;
    font-size: 2rem;
    color: #999999;
    padding-bottom: 5%;
}


/* section 6  */

.section-6 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(149px, 1fr));
    grid-gap: 2rem;
    margin: 1% 5%;
}

.sec-6-box {
    background-color: #cccccc;
    height: 50vh;
    border: 1px solid black;
    border-radius: 1rem;
    display: grid;
}

.sec-6-box h3 {
    align-self: end;
    justify-self: center;
    font-size: 2rem;
    color: #999999;
    margin-bottom: 6rem;
}


/* Footer  */

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 50vh;
    background-color: yellow;
    margin-top: 7rem;
}

.footer1 {
    background-color: whitesmoke;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 1rem 1rem;
    align-self: center;
    justify-self: center;
}


/* media queris */

@media (max-width:991.98px) {
    /* second section carousel */
    .section-padding {
        padding: 0 70px;
    }
}

@media (max-width:991.98px) {
    /* heading  */
    .heading {
        font-size: 23px;
        margin: 1rem 2rem;
    }
    /* button  */
    .btn button {
        width: 8rem;
        height: 3rem;
    }
    .btn button a {
        padding: 1rem 1rem;
        font-size: 1rem;
    }
    /* second section carousel */
    .section-padding {
        padding: 0;
    }
    button.owl-prev {
        position: absolute;
        left: -60px;
        width: 50px;
        height: 50px;
    }
    button.owl-next {
        position: absolute;
        right: -60px;
        width: 50px;
        height: 50px;
    }
    /* section - 4 */
    .section-4 {
        height: inherit;
    }
    /* section 5 */
    .section-5 {
        grid-template-columns: repeat(3, 1fr);
        margin: 0 10%;
    }
}

@media (max-width:767.98px) {
    /* heading  */
    .heading {
        font-size: 20px;
        margin: 1rem 1.5rem;
    }
    /* button  */
    .btn button {
        width: 8rem;
        height: 3rem;
    }
    .btn button a {
        padding: 1rem 1rem;
        font-size: 1rem;
    }
    /* second section carousel */
    .section-padding {
        padding: 0;
    }
    button.owl-prev {
        position: absolute;
        left: -60px;
        width: 50px;
        height: 50px;
    }
    button.owl-next {
        position: absolute;
        right: -60px;
        width: 50px;
        height: 50px;
    }
    /* section - 4 */
    .section-4 {
        height: inherit;
    }
    /* section 5 */
    .section-5 {
        grid-template-columns: 1fr 1fr;
        margin: 0 10%;
    }
}

@media (max-width:575.98px) {
    /* heading  */
    .heading {
        font-size: 15px;
        margin: 1rem;
    }
    /* button  */
    .btn button {
        width: 6rem;
        height: 2.5rem;
    }
    .btn button a {
        padding: 1rem 10px;
        font-size: 12px;
        position: relative;
        top: -3px;
    }
    /* second section carousel */
    .section-padding {
        padding: 0;
    }
    button.owl-prev {
        position: absolute;
        left: -60px;
        width: 50px;
        height: 50px;
    }
    button.owl-next {
        position: absolute;
        right: -60px;
        width: 50px;
        height: 50px;
    }
    /* third section  */
    .third-sec button {
        font-size: 12px;
        font-weight: 800;
        width: 8rem;
        height: 2.5rem;
        align-self: end;
    }
    .third-sec button a {
        color: black;
        text-decoration: none;
    }
    /* section - 4 */
    .section-4 {
        display: grid;
        grid-template-columns: 1fr;
        height: inherit;
    }
    .sec-4-box1 {
        grid-column: span 1;
        grid-row: span 1;
    }
    .sec-4-box {
        height: 40vh;
    }
    .sec-4-h3-first {
        font-size: 1.2rem;
        padding-left: 0;
        padding-bottom: 0;
    }
    /* section 5 */
    .section-5 {
        grid-template-columns: 1fr;
        margin: 0 10%;
    }
    /* section 6  */
    .section-6 {
        grid-template-columns: 1fr;
        margin: 0 10%;
    }
}
